
label {
    margin-bottom: 7px;
}
input {
    margin-bottom: 10px;
}
.container{
    box-shadow: 2px 2px 3px 3px rgb(234, 237, 238);
    margin-left: 100px;
    margin-right: 20px;
    width: 1480px;
    height: 566px;
    position: absolute;
    top: 140px;
    background-color:white ;

}
.user-header h4{
    padding-top: 20px;
    
}
.button {
 text-align: right;
}
.button button {
    margin: 0px 10px;
}





