<div class="header1" *ngIf="displayUserTable">
    <h3> User List</h3>
</div>

<div class="ptable" *ngIf="displayUserTable">

    <div class="addUserButton" *ngIf="displayUserTable">
        <button class="btn btn-primary" (click)="addUsersPop()">AddUsers</button>
    </div>

    <div *ngIf="displayUserTable">

        <p-table [paginator]=true [rows]="5" [value]="showAllUsers" [alwaysShowPaginator]="false"
            styleClass="p-datatable-striped" [resizableColumns]="true" columnResizeMode="expand"
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>User ID <p-sortIcon field="userId" pSortableColumn="userId"></p-sortIcon> </th>
                    <th>User Name <p-sortIcon field="userName" pSortableColumn="userName"></p-sortIcon></th>
                    <th>First Name<p-sortIcon field="firstName" pSortableColumn="firstName"></p-sortIcon> </th>
                    <th>Last Name <p-sortIcon field="lastName" pSortableColumn="lastName"></p-sortIcon></th>
                    <th>Email Id <p-sortIcon field="emailId" pSortableColumn="emailId"></p-sortIcon></th>
                    <th>CreatedSource <p-sortIcon field="createdSource" pSortableColumn="createdSource"></p-sortIcon>
                    </th>
                    <th>CreatedSourceType<p-sortIcon field="createdSourceType"
                            pSortableColumn="createdSourceType"></p-sortIcon> </th>
                    <th>ModifiedSource <p-sortIcon field="modifiedSource" pSortableColumn="modifiedSource"></p-sortIcon>
                    </th>
                    <th>ModifiedSourceType <p-sortIcon field="modifiedSourceType"
                            pSortableColumn="modifiedSourceType"></p-sortIcon></th>
                    <th>Created Date <p-sortIcon field="createDatetime" pSortableColumn="createDatetime"></p-sortIcon>
                    </th>
                    <th>Last Modified Date <p-sortIcon field="lastModifiedDatetime"
                            pSortableColumn="lastModifiedDatetime"></p-sortIcon></th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item class="t-body tbody-dark">

                <tr (dblclick)="userViewMode(item)">
                    <td>{{item.userId}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.emailId}}</td>
                    <td>{{item.createdSource}}</td>
                    <td>{{item.createdSourceType}}</td>
                    <td>{{item.modifiedSource}}</td>
                    <td>{{item.modifiedSourceType}}</td>
                    <td>{{item.createDatetime | date :" dd/MM/yyyy, h:mm a "}}</td>
                    <td>{{item.lastModifiedDatetime | date :" dd/MM/yyyy, h:mm a "}}</td>
                    <td>
                        <button class="btn btn-warning" (click)="deleteUser(item.userId)">Delete</button>
                    </td>
                </tr>
            </ng-template>

        </p-table>

    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="header1" *ngIf="displayUserDetails">
    <h3>User Details</h3>
</div>


<div class="conatainer" *ngIf="displayUserDetails">

    <div class="grid detials">

        <div class="col-12 sm:col-12 md:col-6 lg:col-6 viewDetails">

            <div>
                <label class="col-6">User ID :</label>
                <label class="col-6">{{viewUser.userId}}</label>
            </div>
            <div>
                <label class="col-6">User Name :</label>
                <label class="col-6">{{viewUser.userName}}</label>
            </div>
            <div>
                <label class="col-6">First Name :</label>
                <label class="col-6">{{viewUser.firstName}}</label>
            </div>
            <div>
                <label class="col-6">Last Name :</label>
                <label class="col-6">{{viewUser.lastName}}</label>
            </div>
            <div>
                <label class="col-6">Email Id :</label>
                <label class="col-6">{{viewUser.emailId}}</label>
            </div>
            <div>
                <label class="col-6">CreatedSource :</label>
                <label class="col-6">{{viewUser.createdSource}}</label>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6 lg:col-6 viewDetails" >

            <div>
                <label class="col-6">CreatedSourceType :</label>
                <label class="col-6">{{viewUser.createdSourceType}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSource :</label>
                <label class="col-6">{{viewUser.modifiedSource}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSourceType :</label>
                <label class="col-6">{{viewUser.modifiedSourceType}}</label>
            </div>
            <div>
                <label class="col-6">Created Date :</label>
                <label class="col-6">{{viewUser.createDatetime | date :" dd/MM/yyyy, h:mm a "}}</label>
            </div>
            <div>
                <label class="col-6">Last Modified Date :</label>
                <label class="col-6">{{viewUser.lastModifiedDatetime | date :" dd/MM/yyyy, h:mm a "}}</label>
            </div>

        </div>

        <div class="ebButtons">
            <button class="btn btn-primary" (click)="editUser()">Edit</button>
            <button class="btn btn-warning" (click)="closeUpdateForm()">Cancel</button>
        </div>
    </div>

</div>

<div class="header1" *ngIf="displayEditUserForm">
    <h3>Update User</h3>
</div>

<div class="container " *ngIf="displayEditUserForm">

    <div class="row">

        <form class="user-form" #updateForm="ngForm" (ngSubmit)="updateUserForm(updateForm.value)" ngNativeValidate>
            <div class="grid upDateUser">

                <div class="col-12 sm:col-12 md:col-6 lg:col-6">

                    <label>User Id<span>*</span></label>
                    <input type="text" name="userId" ngModel="{{viewUser.userId}}"
                        class="form-control shadow-none disabled" readonly>
                    <label>UserName<span>*</span></label>
                    <input type="text" name="userName" ngModel="{{viewUser.userName}}" class="form-control" required
                        minlength="4" maxlength="20">

                    <label>First Name<span>*</span></label>
                    <input type="text" name="firstName" ngModel="{{viewUser.firstName}}" class="form-control" required
                        minlength="4" maxlength="20">

                    <label>Last Name<span>*</span></label>
                    <input type="text" ngModel name="lastName" ngModel="{{viewUser.lastName}}" class="form-control"
                        required minlength="1" maxlength="20">

                    <label for="">email Id<span>*</span></label>
                    <input type="email" ngModel name="emailId" ngModel="{{viewUser.emailId}}"
                        class="form-control shadow-none disabled" readonly>
                    <label>Created Source<span>*</span></label>
                    <input type="text" ngModel name="createdSource" readonly ngModel="{{viewUser.createdSource}}"
                        class="form-control shadow-none disabled">
                </div>

                <div class="col-12 sm:col-12 md:col-6 lg:col-6">

                    <label>Created Source Type<span>*</span></label>
                    <input type="text" ngModel name="createdSourceType" readonly
                        ngModel="{{viewUser.createdSourceType}}" class="form-control shadow-none disabled" required>
                    <label>Modified Source<span>*</span></label>
                    <input type="text" ngModel="{{viewUser.modifiedSource}}" readonly ngModel name="modifiedSource"
                        ngModel class="form-control shadow-none disabled" required maxlength="60" minlength="4">
                    <label>Modified Source Type<span>*</span></label>
                    <input type="text" ngModel="{{viewUser.modifiedSourceType}}" readonly ngModel
                        name="modifiedSourceType" ngModel class="form-control shadow-none disabled" required
                        maxlength="60" minlength="4">
                    <label>Created Date<span>*</span></label>
                    <input type="text" name="createdDate" readonly ngModel ngModel="{{viewUser.createDatetime}}"
                        class="form-control shadow-none disabled" required readonly>
                    <label>Last Modified Datetime<span>*</span></label>
                    <input type="text" name="lastModifiedDatetime" readonly ngModel="{{viewUser.lastModifiedDatetime}}"
                        class="form-control shadow-none disabled" required readonly>
                    <div class="button">
                        <button class="btn btn-warning" (click)="closeUpdateForm()">Cancel</button>
                        <button class="btn btn-primary" [disabled]="!updateForm.touched">Save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>


<p-dialog header="AddUsers" [(visible)]="addUsersButton" [modal]="true" [closable]="false" autoWidth="false">

    <form #adduser="ngForm" (ngSubmit)="saveUsers(adduser.value)" ngNativeValidate>
        <label>UserName<span>*</span></label>
        <input type="text" ngModel name="userName" class="form-control" #userName maxlength="20" pattern="[a-zA-Z\\s]*"
            required>

        <label>Email Id<span>*</span></label>
        <input type="email" ngModel name="emailId" class="form-control" #emailId required
            pattern='^[a-zA-Z0-9]+@[a-z]+\.[a-z]{2,}$'>

        <div class="dialogButtons">
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-warning" (click)="closeDialogPop()">Cancel</button>
        </div>
    </form>

</p-dialog>


<div class="header1" *ngIf="openUserForm">
    <h3>Add New User</h3>
</div>

<div class="usercreateddiv " *ngIf="openUserForm">
    <div class="container ">
        <div class="user-header">
            <h4>Add New User</h4>
        </div>
        <hr>

        <form class="user-form" #createuser="ngForm" (ngSubmit)="createuser.valid && createUser(createuser.value)"
            ngNativeValidate>

            <div class="grid">
                <div class="col-12 sm:col-12 md:col-6 lg:col-6">

                    <label>UserName<span>*</span></label>
                    <input type="text" name="userName" ngModel="{{this.userNameField}}" pattern="[a-zA-Z\\s]*" ngModel
                        class="form-control shadow-none name disabled" readonly>
                    <label>First Name<span>*</span></label>
                    <input type="text" ngModel name="firstName" class="form-control" pattern="[a-zA-Z\\s]*" required
                        minlength="4" maxlength="20">
                    <label>Last Name<span>*</span></label>
                    <input type="text" ngModel name="lastName" pattern="[a-zA-Z\\s]*" class="form-control" required
                        minlength="1" maxlength="20">
                    <label for="">email Id<span>*</span></label>
                    <input type="email" ngModel="{{this.emailIdField}}" name="emailId"
                        class="form-control shadow-none disabled" required email readonly>

                </div>

                <div class="col-12 sm:col-12 md:col-6 lg:col-6">

                    <label>CreatedSource</label>
                    <input type="text" ngModel [(ngModel)]="createdSource" readonly name="createdSource"
                        class="form-control shadow-none disabled" maxlength="60">
                    <div
                        *ngIf="createuser.controls['createdSource']?.['touched'] && createuser.controls['createdSource']?.['errors']">
                        <div *ngIf="createuser.controls['createdSource']?.['errors']?.['maxlength']">
                            Created source is 60 characters only.
                        </div>
                    </div>
                    <label>CreatedSourceType</label>
                    <input type="text" ngModel [(ngModel)]="createdSourceType" readonly name="createdSourceType"
                        class="form-control shadow-none disabled" maxlength="60">
                    <div
                        *ngIf="createuser.controls['createdSourceType']?.['touched'] && createuser.controls['createdSourceType']?.['errors']">
                        <div *ngIf="createuser.controls['createdSourceType']?.['errors']?.['maxlength']">
                            ` Created source type is 60 characters only.
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex align-items-center">
                            <label>isAdmin <span>*</span></label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton id="radio" name="isAdmin" value="true" required #isAdmin="ngModel"
                                [(ngModel)]="adminUserType"></p-radioButton>
                            <label>Yes</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton id="radio" name="isAdmin" value="false" required #isAdmin="ngModel"
                                [(ngModel)]="adminUserType"></p-radioButton>
                            <label>No</label>
                        </div>
                    </div>
                    <div *ngIf="createuser.submitted && isAdmin.invalid">
                        <span id="radioButton">please select the type of user</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="button">
                <button class="btn btn-warning" (click)="closeUserForm()">Cancel</button>
                <button class="btn btn-primary">Save</button>
            </div>

        </form>

    </div>
</div>

<p-toast></p-toast>