<div class="header1" *ngIf="displayUserTable">
    <h2> <i class="pi pi-users"></i>User List</h2>
</div>

<div class="ptable" *ngIf="displayUserTable">

    <div class="addUserButton" *ngIf="displayUserTable">
        <button class="btn btn-primary" (click)="AddUsersPop()">AddUsers</button>
    </div>

    <div *ngIf="displayUserTable">

        <p-table [paginator]=true [rows]="5" [value]="showAllUsers" [alwaysShowPaginator]="false" styleClass="p-datatable-striped"
            [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>User ID <p-sortIcon field="user_id" pSortableColumn="user_id"></p-sortIcon> </th>
                    <th>User Name <p-sortIcon field="userName" pSortableColumn="userName"></p-sortIcon></th>
                    <th>First Name<p-sortIcon field="firstName" pSortableColumn="firstName"></p-sortIcon> </th>
                    <th>Last Name <p-sortIcon field="lastName" pSortableColumn="lastName"></p-sortIcon></th>
                    <th>Email Id <p-sortIcon field="email_Id" pSortableColumn="email_Id"></p-sortIcon></th>
                    <th>CreatedSource <p-sortIcon field="createdSource" pSortableColumn="createdSource"></p-sortIcon>
                    </th>
                    <th>CreatedSourceType<p-sortIcon field="createdSourceType"
                            pSortableColumn="createdSourceType"></p-sortIcon> </th>
                    <th>ModifiedSource <p-sortIcon field="modifiedSource" pSortableColumn="modifiedSource"></p-sortIcon>
                    </th>
                    <th>ModifiedSourceType <p-sortIcon field="modifiedSourceType"
                            pSortableColumn="modifiedSourceType"></p-sortIcon></th>
                    <th>Created Date <p-sortIcon field="create_datetime" pSortableColumn="create_datetime"></p-sortIcon>
                    </th>
                    <th>Last Modified Date <p-sortIcon field="last_modified_datetime"
                            pSortableColumn="last_modified_datetime"></p-sortIcon></th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item class="t-body tbody-dark">

                <tr (dblclick)="UserViewMode(item)">
                    <td>{{item.user_id}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.email_Id}}</td>
                    <td>{{item.createdSource}}</td>
                    <td>{{item.createdSourceType}}</td>
                    <td>{{item.modifiedSource}}</td>
                    <td>{{item.modifiedSourceType}}</td>
                    <td>{{item.create_datetime | date :" dd/MM/yyyy, h:mm a "}}</td>
                    <td>{{item.last_modified_datetime | date :" dd/MM/yyyy, h:mm a "}}</td>
                    <td>
                        <button class="btn btn-warning" (click)="DeleteUser(item.user_id)">Delete</button>
                    </td>
                </tr>
            </ng-template>

        </p-table>

    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="header1" *ngIf="displayUserDetails">
    <h2>User Details</h2>
</div>


<div class="conatainer" *ngIf="displayUserDetails">

    <h2>User Details</h2>
    <div class="grid">

        <div class="col-12 sm:col-12 md:col-6 lg:col-6">

            <div>
                <label class="col-6">User ID :</label>
                <label class="col-6">{{viewUser.user_id}}</label>
            </div>
            <div>
                <label class="col-6">User Name :</label>
                <label class="col-6">{{viewUser.userName}}</label>
            </div>
            <div>
                <label class="col-6">First Name :</label>
                <label class="col-6">{{viewUser.firstName}}</label>
            </div>
            <div>
                <label class="col-6">Last Name :</label>
                <label class="col-6">{{viewUser.lastName}}</label>
            </div>
            <div>
                <label class="col-6">Email Id :</label>
                <label class="col-6">{{viewUser.email_Id}}</label>
            </div>
            <div>
                <label class="col-6">CreatedSource :</label>
                <label class="col-6">{{viewUser.createdSource}}</label>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6 lg:col-6">

            <div>
                <label class="col-6">CreatedSourceType :</label>
                <label class="col-6">{{viewUser.createdSourceType}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSource :</label>
                <label class="col-6">{{viewUser.modifiedSource}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSourceType :</label>
                <label class="col-6">{{viewUser.modifiedSourceType}}</label>
            </div>
            <div>
                <label class="col-6">Created Date :</label>
                <label class="col-6">{{viewUser.create_datetime}}</label>
            </div>
            <div>
                <label class="col-6">Last Modified Date :</label>
                <label class="col-6">{{viewUser.last_modified_datetime}}</label>
            </div>

        </div>

        <div class="ebButtons">
            <button class="btn btn-primary" (click)="EditUser()">Edit</button>
            <button class="btn btn-warning" (click)="closeUpdateForm()">Cancel</button>
        </div>
    </div>

</div>

<div class="header1" *ngIf="displayEditUserForm">
    <h2>Update User</h2>
</div>

<div class="container " *ngIf="displayEditUserForm">

    <div class="user-header">
        <h4>Update User</h4>
    </div>

    <hr>

    <div class="row">

        <form class="user-form" #updateForm="ngForm" (ngSubmit)="UpdateUserForm(updateForm.value)" ngNativeValidate>
            <div class="grid">

                <div class="col-12 sm:col-12 md:col-6 lg:col-6">

                    <label>User Id<span>*</span></label>
                    <input type="text" name="user_id" ngModel="{{viewUser.user_id}}" class="form-control disabled"
                        readonly>
                    <label>UserName<span>*</span></label>
                    <input type="text" name="userName" ngModel="{{viewUser.userName}}" class="form-control" required
                        minlength="4" maxlength="20">
                    <div *ngIf="updateForm.controls['userName']?.['touched'] && updateForm.controls['userName']?.['errors']"
                        class="invalid">
                        <div *ngIf="updateForm.controls['userName']?.['errors']?.['required']">
                            User Name is required
                        </div>
                        <div *ngIf="updateForm.controls['userName']?.['errors']?.['minlength']">
                            User Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="updateForm.controls['userName']?.['errors']?.['maxlength']">
                            User Name is Maximum 20 characters only.
                        </div>
                    </div>
                    <label>First Name<span>*</span></label>
                    <input type="text" name="firstName" ngModel="{{viewUser.firstName}}" class="form-control" required
                        minlength="4" maxlength="20">
                    <div *ngIf="updateForm.controls['firstName']?.['touched'] && updateForm.controls['firstName']?.['errors']"
                        class="invalid">
                        <div *ngIf="updateForm.controls['firstName']?.['errors']?.['required']">
                            First Name is required
                        </div>
                        <div *ngIf="updateForm.controls['firstName']?.['errors']?.['minlength']">
                            First Name must be atleast 4 characters.
                        </div>
                        <div *ngIf="updateForm.controls['firstName']?.['errors']?.['maxlength']">
                            First Name is Maximum 20 characters only.
                        </div>
                    </div>
                    <label>Last Name<span>*</span></label>
                    <input type="text" ngModel name="lastName" ngModel="{{viewUser.lastName}}" class="form-control"
                        required>
                    <div *ngIf="updateForm.controls['lastName']?.['touched'] && updateForm.controls['lastName']?.['errors']"
                        class="invalid">
                        <div *ngIf="updateForm.controls['lastName']?.['errors']?.['required']">
                            Last Name is required
                        </div>
                        <div *ngIf="updateForm.controls['lastName']?.['errors']?.['minlength']">
                            Last Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="updateForm.controls['lastName']?.['errors']?.['maxlength']">
                            Last Name is Maximum 20 characters only.
                        </div>
                    </div>
                    <label for="">email Id<span>*</span></label>
                    <input type="email" ngModel name="email_Id" ngModel="{{viewUser.email_Id}}"
                        class="form-control disabled" readonly>
                    <label>CreatedSource<span>*</span></label>
                    <input type="text" ngModel name="createdSource" readonly ngModel="{{viewUser.createdSource}}"
                        class="form-control disabled">
                </div>

                <div class="col-12 sm:col-12 md:col-6 lg:col-6">

                    <label>CreatedSourceType<span>*</span></label>
                    <input type="text" ngModel name="createdSourceType" readonly
                        ngModel="{{viewUser.createdSourceType}}" class="form-control disabled" required>
                    <label>ModifiedSource<span>*</span></label>
                    <input type="text" [(ngModel)]="modifiedSource" readonly ngModel name="modifiedSource" ngModel
                        [(ngModel)]="modifiedSource" class="form-control disabled" required maxlength="60"
                        minlength="4">
                    <div *ngIf="updateForm.controls['modifiedSource']?.['touched'] && updateForm.controls['modifiedSource']?.['errors']"
                        class="invalid">
                        <div *ngIf="updateForm.controls['modifiedSource']?.['errors']?.['maxlength']">
                            Modified source is 60 characters only.
                        </div>
                        <div *ngIf="updateForm.controls['modifiedSource']?.['errors']?.['minlength']">
                            Modified Source is at least 4 characters
                        </div>
                    </div>
                    <label>ModifiedSourceType<span>*</span></label>
                    <input type="text" [(ngModel)]="modifiedSource" readonly ngModel name="modifiedSourceType" ngModel
                        [(ngModel)]="modifiedSource" class="form-control disabled" required maxlength="60"
                        minlength="4">
                    <div *ngIf="updateForm.controls['modifiedSourceType']?.['touched'] && updateForm.controls['modifiedSourceType']?.['errors']"
                        class="invalid">
                        <div *ngIf="updateForm.controls['modifiedSourceType']?.['errors']?.['maxlength']">
                            Modified source Type is 60 characters only.
                        </div>
                        <div *ngIf="updateForm.controls['modifiedSourceType']?.['errors']?.['minlength']">
                            Modified Source Type is at least 4 characters
                        </div>
                    </div>
                    <label>Created Date<span>*</span></label>
                    <input type="text" name="createdDate" readonly ngModel ngModel="{{viewUser.create_datetime}}"
                        class="form-control disabled" required readonly>
                    <label>Last Modified Datetime<span>*</span></label>
                    <input type="text" name="last_modified_datetime" readonly
                        ngModel="{{viewUser.last_modified_datetime}}" class="form-control disabled" required readonly>
                    <div class="button">
                        <button class="btn btn-warning" (click)="closeUpdateForm()">Cancel</button>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            <hr>

        </form>
    </div>

</div>




<p-dialog header="AddUsers"  [(visible)]="addUsersButton" [modal]="true" [closable]="false"  autoWidth="false" >

    <p-messages [(value)]="messages"></p-messages>
    <form #adduser="ngForm" (ngSubmit)="saveUsers(adduser.value)" ngNativeValidate>
        <label>UserName<span>*</span></label>
        <input type="text" ngModel name="userName" class="form-control" #userName  maxlength="20" required>
      
        <label>Email Id<span>*</span></label>
        <input type="email" ngModel name="email_Id" class="form-control" #email_Id required email pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*.[a-zA-Z]$" >
       
        <div class="buttons">
        
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-warning" (click)="closeDialogPop()">Cancel</button>
        </div>
    </form>
 

</p-dialog>

<div class="header1" *ngIf="openUserForm">
    <h2><i class="pi pi-user-plus"></i> Add New User</h2>
</div>

<div class="usercreateddiv " *ngIf="openUserForm">
    <div class="container ">
        <div class="user-header">
            <h4> 
                Add New User</h4>
        </div>

        <hr>

        <div class="row">
            <form class="user-form" #createuser="ngForm" (ngSubmit)="CreateUser(createuser.value)" ngNativeValidate>
                <p-messages [(value)]="messages1"></p-messages>
      
                        <div class="grid">
                            <div class="col-12 sm:col-12 md:col-6 lg:col-6">

                                <label>UserName<span>*</span></label>
                                <input type="text" name="userName" ngModel="{{this.username}}" ngModel class="form-control name disabled" readonly> 
                                <label>First Name<span>*</span></label>
                                <input type="text" ngModel name="firstName"  class="form-control" required minlength="4" maxlength="20">
                                <div *ngIf="createuser.controls['firstName']?.['touched'] && createuser.controls['firstName']?.['errors']"
                                    class="invalid">
                                    <div *ngIf="createuser.controls['firstName']?.['errors']?.['required']">
                                        First Name is required
                                    </div>
                                    <div *ngIf="createuser.controls['firstName']?.['errors']?.['minlength']">
                                        First Name must be atleast 4 characters.
                                    </div>
                                    <div *ngIf="createuser.controls['firstName']?.['errors']?.['maxlength']">
                                        First Name is Maximum 20 characters only.
                                    </div>
                                </div>
                                <label>Last Name<span>*</span></label>
                                <input type="text" ngModel name="lastName" class="form-control" required minlength="2" maxlength="20">
                                <div *ngIf="createuser.controls['lastName']?.['touched'] && createuser.controls['lastName']?.['errors']"
                                    class="invalid">
                                    <div *ngIf="createuser.controls['lastName']?.['errors']?.['required']">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="createuser.controls['lastName']?.['errors']?.['minlength']">
                                        Last Name must be at least 4 characters long.
                                    </div>
                                    <div *ngIf="createuser.controls['lastName']?.['errors']?.['maxlength']">
                                        Last Name  is Maximum 20 characters only.
                                    </div>
                                </div>
                                <label for="">email Id<span>*</span></label>
                                <input type="email" ngModel="{{this.emailId}}" name="email_Id" class="form-control disabled" required email readonly>
                               
                            </div>

                            <div class="col-12 sm:col-12 md:col-6 lg:col-6">

                                <label>CreatedSource</label>
                                <input type="text" ngModel  [(ngModel)]="createdSourceType" readonly name="createdSource" class="form-control disabled" maxlength="60">
                                <div *ngIf="createuser.controls['createdSource']?.['touched'] && createuser.controls['createdSource']?.['errors']">
                                    <div *ngIf="createuser.controls['createdSource']?.['errors']?.['maxlength']">
                                        Created source is 60 characters only.
                                    </div>
                                </div>
                                <label>CreatedSourceType</label>
                                <input type="text" ngModel [(ngModel)]="createdSourceType" readonly name="createdSourceType" class="form-control disabled" maxlength="60">
                                <div *ngIf="createuser.controls['createdSourceType']?.['touched'] && createuser.controls['createdSourceType']?.['errors']">
                                    <div *ngIf="createuser.controls['createdSourceType']?.['errors']?.['maxlength']">
`                                       Created source type is 60 characters only.
                                    </div>
                                </div>
 
                            </div>
                        </div>
                  
                <div class="button">
                    <button class="btn btn-warning" (click)="closeUserForm()" >Cancel</button>
                    <button class="btn btn-primary" >Save</button>
                </div>
               
            </form>
            
        </div>

        <hr>
        
    </div>
</div>