*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.login-main{
    width: 430px;
    margin-top: 100px;
    margin-left: 515px;
    background-color: rgb(250, 250, 252);
    height: 570px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 10px rgb(230, 238, 240);
    
}
.container {
    width: 330px;
    margin: 40px;
    
}
input {
    margin-bottom: 10px;
    padding: 7px;
    
}
.login-image img {
    width: 330px;
    margin-top: 30px;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-button {
    padding: 8px;
    background-color: rgb(38, 187, 237);
    border: 1px solid rgb(38, 187, 237);
    color: white;
   
}
h2 {
    text-align: center;
    
}
p {
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.login-forget-text{
    margin-bottom: 20px;
    
}
a{
    text-decoration: none;
}

.login-toggle-link{
    color:  rgb(38, 187, 237);
    margin-left: 7px;
}
.login-text-signup{
   margin-top: 10px;
}
label {
    margin-bottom: 5px;
}
span{
    color:red;
}
.invalid{
    color:red;
}
@media screen and (max-width: 426px) and (min-width: 319px){

    .login-main{
        width: 330px;
        margin-top: 100px;
        margin-left: 70px;
        background-color: rgb(250, 250, 252);
        height: 570px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 10px rgb(230, 238, 240);
        
    }
    .login-image img {
        width: 230px;
        margin-top: 30px;
    }

    input {
        margin-bottom: 10px;
        padding: 7px;
        width: 250px;
    }
    .login-button {
        padding: 8px;
        background-color: rgb(38, 187, 237);
        border: 1px solid rgb(38, 187, 237);
        color: white;
       width: 250px;
    }
    h2 {
        text-align: center;
        margin-right: 40px;
    }
    p {
        text-align: center;
        font-family: 'Inter', sans-serif;
        margin-right: 40px;
    }

 
}

@media screen and (max-width: 1023px) and (min-width: 760px){

    .login-main{
        width: 330px;
        margin-top: 100px;
        margin-left: 200px;
        background-color: rgb(250, 250, 252);
        height: 570px;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 10px rgb(230, 238, 240);
        
    }
    .login-image img {
        width: 230px;
        margin-top: 30px;
    }

    input {
        margin-bottom: 10px;
        padding: 7px;
        width: 250px;
    }
    .login-button {
        padding: 8px;
        background-color: rgb(38, 187, 237);
        border: 1px solid rgb(38, 187, 237);
        color: white;
       width: 250px;
    }
    h2 {
        text-align: center;
        margin-right: 40px;
    }
    p {
        text-align: center;
        font-family: 'Inter', sans-serif;
        margin-right: 40px;
    }

 
}

