a {
    padding: 50px;
    text-decoration: none;
    color: black;
}
.search {
    margin-left: 1200px;
    margin-bottom: 10px;
}


:host ::ng-deep .p-paginator {
    display: flex;
    justify-content: right;
    float: right;
    max-width: max-content;
    margin: 10px 5px;
    border: none;
   
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page , :host ::ng-deep .p-paginator-next, :host ::ng-deep .p-paginator-prev {
    border-radius: 1px;
    height: 30px;
    width: 50px;
    margin: 0px;
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    color: rgb(52, 145, 179);
    border: 1px solid black;
}
.search  input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ptable {
    margin-top: -70px;
    width: 97%;
    height: 550px;
    margin-left: 20px;
    box-shadow: 2px 2px 0px 0px rgb(230, 238, 240);
    background-color:white ;
}
.delete {
    margin-left: 10px;
}


.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 100px;
    margin-right: 20px;
    height: 560px;
    margin-top: -80px;
    background-color:white ;
    width: 1300px;
  
}
hr {
   margin-top: 30px;
}
.view > * {
    display: block;
}
table {
    position: absolute;
    margin: auto;
    margin-top: 10px;
    margin-left: 50px;
}
table tr td {
    padding: 15px;
    margin-right: 200px;
}
.buttons {
   display: flex;
    margin-left: 700px;
    margin-bottom: 20px;
    
}
.buttons button {
   margin-left: 10px;
}

.statusButton {
    margin: 30px;
}
.statusButton button {
    margin: 10px;
}

.backButton {
    margin-left: 1200px;
    margin-top: 10px;
}

.header {
    margin-top: 0px;
    background-color: rgb(16, 160, 208);
    height: 120px;
} 

.header h2{
    color: aliceblue;
    margin-left: 20px;
}


@media screen and (max-width: 326px) and (min-width: 250px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
     .p-dialog {
        width: 15vw !important;
    }
    .btn-warning {
        margin-left: 40px;
        margin-top: -35px;
    }
    .backButton {
        margin-left: 200px;
    }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 912px;
    margin-top: -80px;
    background-color:white ;
    width: 320px;
    position: sticky;

}
.ptable {
    margin-top: -88px;
    width: 97%;
    height: 360px;
    margin-left: 4px;
    box-shadow: 2px 2px 0px 0px rgb(230, 238, 240);
    background-color:white ;
}
}
@media screen and (max-width: 376px) and (min-width: 327px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
     .p-dialog {
        width: 20vw !important;
    }
    .backButton {
        margin-left: 200px;
    }
    .btn-warning {
        margin-left: 40px;
        margin-top: -35px;
    }
    .ptable {
        margin-top: -88px;
        width: 97%;
        height: 360px;
        margin-left: 4px;
        box-shadow: 2px 2px 0px 0px rgb(230, 238, 240);
        background-color:white ;
    }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 906px;
    margin-top: -80px;
    background-color:white ;
    width: 375px;
    position: sticky;
}

}
@media screen and (max-width: 426px) and (min-width: 377px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
     .p-dialog {
        width: 25vw !important;
    }

    .btn-warning {
        margin-left: 40px;
        margin-top: -35px;
    }
    .backButton {
        margin-left: 250px;
    }

    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 911px;
    margin-top: -80px;
    background-color:white ;
    width: 320px;
    min-height: 100vh;
    position: sticky;
}
}
@media screen and (max-width: 426px) and (min-width: 377px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
     .ptable {
        margin-top: -88px;
        width: 97%;
        height: 360px;
        margin-left: 4px;
        box-shadow: 2px 2px 0px 0px rgb(230, 238, 240);
        background-color:white ;
    }
     .p-dialog {
        width: 25vw !important;
    }
    .btn-warning {
        margin-left: 40px;
        margin-top: -35px;
    }
    
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 906px;
    margin-top: -80px;
    background-color:white ;
    width: 420px;
    position: sticky;
}
}

@media screen and (max-width: 769px) and (min-width: 426px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
     .backButton{
        margin-left: 600px;
     }
     .p-dialog {
        width: 30vw !important;
    }
    .btn-warning {
        margin-left: 39px;
        margin-top: -37px;
    }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 840px;
    margin-top: -80px;
    background-color:white ;
    width: 769px;
    position: absolute;
  
}
}

@media screen and (max-width: 1025px) and (min-width: 769px) {
    .search {
        margin-left: 300px;
    }
    .buttons {
        display: flex;
        margin-left: 200px;

     }
     .p-dialog {
        width: 35vw !important;
    }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 560px;
    margin-top: -80px;
    background-color:white ;
    width: 1025px;
    
  
}
.btn-warning {
    left:0px;
    margin-top: 10px;
    margin-left: -300px;
}
}
