
<div class="header" *ngIf="showTicketTable">
    <h2>Ticket List</h2>
</div>
<div class="ptable" *ngIf="showTicketTable">
    <div class="search"><input type="text" [(ngModel)]="ticket" (keyup)="ViewTicketById()"></div>
        <p-table  [value]="viewAllTickets" [paginator]=true [rows]="5"  styleClass="p-datatable-striped" [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"  >
            <input type="text" placeholder="Search" [(ngModel)]="searchText">
            <ng-template pTemplate="header" class="t-head thead-primary">
                <tr>
                    <th>User Id <p-sortIcon field="reporter_id"  pSortableColumn="reporter_id"></p-sortIcon></th>
                    <th>Ticket Id <p-sortIcon field="ticket_id"  pSortableColumn="ticket_id"></p-sortIcon></th>
                    <!-- <th>Assignee <p-sortIcon field="assignee"  pSortableColumn="assignee"></p-sortIcon></th> -->
                    <th>Catagory <p-sortIcon field="category_desc"  pSortableColumn="category_desc"></p-sortIcon></th>
                    <th>Sub Category <p-sortIcon field="sub_category_desc"  pSortableColumn="sub_category_desc"></p-sortIcon></th>
                    <th>Description <p-sortIcon field="description"  pSortableColumn="description"></p-sortIcon></th>
                    <th>Priority <p-sortIcon field="priority"  pSortableColumn="priority"></p-sortIcon></th>
                    <th>Status <p-sortIcon field="status"  pSortableColumn="status"></p-sortIcon></th>
                    <th>Reporter Id <p-sortIcon field="reporter_id"  pSortableColumn="reporter_id"></p-sortIcon></th>
                    <th>Subject <p-sortIcon field="subject"  pSortableColumn="subject"></p-sortIcon></th>
                    <th>Url Link <p-sortIcon field="url"  pSortableColumn="url"></p-sortIcon></th>
                    <th>Create Source <p-sortIcon field="createdSource"  pSortableColumn="createdSource"></p-sortIcon></th>
                    <th>Create Source Type<p-sortIcon field="createdSourceType"  pSortableColumn="createdSourceType"></p-sortIcon></th>
                    <th>Modified Source <p-sortIcon field="modifiedSource"  pSortableColumn="modifiedSource"></p-sortIcon></th>
                    <th>Modified Source Type<p-sortIcon field="modifiedSourceType"  pSortableColumn="modifiedSourceType"></p-sortIcon></th>
                    <th>Create Datetime <p-sortIcon field="create_datetime"  pSortableColumn="create_datetime"></p-sortIcon></th>
                    <th>Last Modified Datetime <p-sortIcon field="last_modified_datetime"  pSortableColumn="last_modified_datetime"></p-sortIcon></th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item class="t-body tbody-dark">
        
        
            <tr (dblclick)="TicketviewMode(item)">
                <td>{{item.reporter_id}}</td>
                <td>{{item.ticket_id}}</td>
                <!-- <td>{{item.assignee}}</td> -->
                <td>{{item.category_desc}}</td>
                <td>{{item.sub_category_desc}}</td>
                <td>{{item.description}}</td>
                <td>{{item.priority}}</td>
                <td>{{item.status}}</td>
                <td>{{item.reporter_id}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.url}}</td>
                <td>{{item.createdSource}}</td>
                <td>{{item.createdSourceType}}</td>
                <td>{{item.modifiedSource}}</td>
                <td>{{item.modifiedSourceType}}</td>
                <td>{{item.create_datetime | date :" dd/MM/yyyy, h:mm a "}}</td>
                <td>{{item.last_modified_datetime | date :" dd/MM/yyyy, h:mm a "}}</td>
                <td>
                    <!-- <button class="btn btn-info"><a routerLink="/home/admin-view" (click)="upDateTicket()">Edit</a></button> -->
                    <button class="btn btn-warning " (click)="DeleteTicket(item.ticket_id)">Delete</button>
                </td>
            </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="14" style="text-align: center;">No data</td>
                </tr>
            </ng-template>
        </p-table>
    
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="header"  *ngIf="ticketView">
    <h2>Ticket Details</h2>
</div>

<div class="conatainer" *ngIf="ticketView">
    <h2>Ticket Details</h2>
    <div class="buttons">
    
        <button (click)="ChangePriority()">ChangePriority</button>
        <button (click)="ChangeStatus1()">ChangeStatus</button>
        <!-- <button (click)="SetAssignee()">Set Assignee</button> -->
    </div>

    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6 field">
            <div>
                <label class="col-6">Ticket_Id :</label>
                <label class="col-6">{{ticketData.ticket_id}}</label>
            </div>
            <div>
                <label class="col-6">User_Id :</label>
                <label class="col-6">{{ticketData.user_id}}</label>
            </div>
            <div>
                <label class="col-6">Category :</label>
                <label class="col-6">{{ticketData.category_desc}}</label>
            </div>
            <div>
                <label class="col-6">Sub Category :</label>
                <label class="col-6">{{ticketData.sub_category_desc}}</label>
            </div>
            <!-- <div>
                <label class="col-6">Assignee :</label>
                <label class="col-6">{{ticketData.assignee}}</label>
            </div> -->
            <div>
                <label class="col-6">Subject</label>
                <label class="col-6">{{ticketData.subject}}</label>
            </div>
            <div>
                <label class="col-6">Description :</label>
                <label class="col-6">{{ticketData.description}}</label>
            </div>
            <div>
                <label class="col-6">Reporter</label>
                <label class="col-6">{{ticketData.reporter_id}}</label>
            </div>
            <div>
                <label class="col-6">Priority :</label>
                <label class="col-6">{{ticketData.priority}}</label>
            </div>

        </div>
        <div class="col-12 md:col-12 lg:col-6 field">
           
            <div>
                <label class="col-6">Url_Link :</label>
                <label class="col-6">{{ticketData.url}}</label>
            </div>
            <div>
                <label class="col-6">Status :</label>
                <label class="col-6">{{ticketData.status}}</label>
            </div>
            <div>
                <label class="col-6">Created Date :</label>
                <label class="col-6">{{ticketData.create_datetime}}</label>
            </div>
            <div>
                <label class="col-6">Created Source :</label>
                <label class="col-6">{{ticketData.createdSource}}</label>
            </div>
            <div>
                <label class="col-6">Created Source Type :</label>
                <label class="col-6">{{ticketData.createdSourceType}}</label>
            </div>
            <div>
                <label class="col-6">Modified Date :</label>
                <label class="col-6">{{ticketData.last_modified_datetime}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSource :</label>
                <label class="col-6">{{ticketData.modifiedSource}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSourceType:</label>
                <label class="col-6">{{ticketData.modifiedSourceType}}</label>
            </div>
        </div >
        <div class="backButton">
            <button type="button" class="btn btn-warning" (click)="closeViewMode()">Back</button>
        </div>

    </div>
    
</div>

<p-dialog  header="ChangePriority"[(visible)]="displayPopPriority" [modal]="true"  [closable]="false"  autoWidth="false">
    <form ngNativeValidate>
        <label>Priority :</label>
        <p-autoComplete [(ngModel)]="selectedPriorityValue" [ngModelOptions]="{'standalone':true}" (onClear)="selectedPriorityValue = '' " (onSelect)="displayPriorityValue($event)" [required]="true"  appendTo="body" [suggestions]="seletectPriorities1" (completeMethod)="completePriority($event.query)" [dropdown]="true"  ></p-autoComplete>
        <div class="statusButton">
            <button class="btn btn-warning" (click)="closePriority()">Cancel</button>
            <button class="btn btn-primary" (click)="savePriority()" >Save</button>
        </div>
    </form>
</p-dialog>

<p-dialog header="ChangeStatus"[(visible)]="displayPopStatus" [modal]="true" [closable]="false" autoWidth="false">
    <form >
        <label for="">Status :</label>

        <p-autoComplete [(ngModel)]="selectedStatusValue"  (onSelect)="displayStatusValue($event)" [required]="true" [ngModelOptions]="{'standalone':true}"   appendTo="body" [suggestions]="selectedStatus1" (completeMethod)="completeStatus($event.query)" [dropdown]="true" ></p-autoComplete>
        
        <div class="statusButton">
            <button class="btn btn-warning" (click)="closeStatusPop()">Cancel</button>
            <button class="btn btn-primary" (click)="saveStatus()">Save</button>
        </div>
    </form>
</p-dialog>


<p-dialog header="SetAssignee" [(visible)]="setAssignee" [style]="{width:'20vw', height:'20vw'}">
    <form >
        <label for="">SetAssignee :</label>

        <p-autoComplete [(ngModel)]="getAdminValue" (onSelect)="displayAdminValue($event)"   appendTo="body" [suggestions]="adminValue" (completeMethod)="SetAssigneeSave($event)" [dropdown]="true" ></p-autoComplete>
        
        <div class="statusButton">
            <button class="btn btn-warning" (click)="closeSetAssignee()">Cancel</button>
            <button class="btn btn-primary" (click)="saveAssignee()">Save</button>
        </div>
    </form>
</p-dialog>





