a {
    padding: 50px;
    text-decoration: none;
    color: black;
}
.search {
    margin-left: 1100px;
    margin-bottom: 10px;
}
.search  input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ptable {
    margin-top: -80px;
    width: 97%;
    height: 360px;
    margin-left: 20px;
    box-shadow: 2px 2px 0px 0px rgb(230, 238, 240);
    background-color:white ;
}



.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 100px;
    margin-right: 20px;
    height: 560px;
    margin-top: -80px;
    background-color:white ;
    width: 1300px;
  
}
hr {
   margin-top: 30px;
}
.view > * {
    display: block;
}
table {
    position: absolute;
    margin: auto;
    margin-top: 10px;
    margin-left: 50px;
}
table tr td {
    padding: 15px;
    margin-right: 200px;
}
.buttons {
   display: flex;
    margin-left: 700px;
    margin-bottom: 20px;
    
}
.buttons button {
   margin-left: 10px;
}

.statusButton {
    margin: 30px;
}
.statusButton button {
    margin: 10px;
}
.btn-warning {
    margin-left: 4px;
    margin-top: 10px;
}

.header {
    margin-top: 0px;
    background-color: rgb(16, 160, 208);
    height: 120px;
} 

.header h2{
    color: aliceblue;
    margin-left: 20px;
}


@media screen and (max-width: 326px) and (min-width: 250px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 700px;
    margin-top: -80px;
    background-color:white ;
    width: 320px;
  
}
}
@media screen and (max-width: 376px) and (min-width: 327px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 700px;
    margin-top: -80px;
    background-color:white ;
    width: 375px;
  
}
}
@media screen and (max-width: 326px) and (min-width: 250px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 700px;
    margin-top: -80px;
    background-color:white ;
    width: 320px;
  
}
}
@media screen and (max-width: 426px) and (min-width: 377px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 700px;
    margin-top: -80px;
    background-color:white ;
    width: 420px;
  
}
}

@media screen and (max-width: 769px) and (min-width: 426px) {
    .search {
        margin-left: 30px;
    }
    .buttons {
        display: flex;
        margin-left: 0px;

     }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 900px;
    margin-top: -80px;
    background-color:white ;
    width: 769px;
  
}
}

@media screen and (max-width: 1025px) and (min-width: 769px) {
    .search {
        margin-left: 300px;
    }
    .buttons {
        display: flex;
        margin-left: 200px;

     }
    
.conatainer {
    box-shadow: 2px 2px 3px 3px rgb(230, 238, 240);
    margin-left: 0px;
    margin-right: 0px;
    height: 560px;
    margin-top: -80px;
    background-color:white ;
    width: 1025px;
  
}
}
