
<p-dialog header="AddTicket" [modal]="true" [(visible)]="displayDialog">
    
    <form #form="ngForm" (ngSubmit)="DisplayTicketForm1()" ngNativeValidate> 
        <label >User Id:  {{loggedInUser1}}</label> <br>      
     
        <label >Category : </label>
        <p-autoComplete [(ngModel)]="selectedCategoryValues" appendTo="body" (onSelect)="disp($event)" [suggestions]="selectCategory" (completeMethod)="search($event)" [required]="true" [dropdown]="true" ></p-autoComplete>

        <div class="buttons1">
            
            <button class="btn btn-primary savebutton" type="submit">Save</button>
         
            <!--  <button pButton type="submit" >save</button> -->
        </div>
        
    </form>
    <button class="close-button btn btn-warning " (click)="closeTicketForm()" >Cancel</button>
    


</p-dialog>

<div class="header" *ngIf="displayForm">
    <h2>Add New Ticket</h2>
</div>
<div class="conatainer" *ngIf="displayForm">

    <div class="ticket-header">
        <h4>Create New Ticket </h4>
    </div>
    <hr>
    <div class="row">
        <form #ticketvalues=ngForm (ngSubmit)="CreateTicket(ticketvalues.value)" ngNativeValidate>
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-6 lg:col-6">
                    <label>Category <span>*</span></label>
                    <p-autoComplete [(ngModel)]="category_desc" name="category_id" appendTo="body" [required]="true" (onSelect)="disp($event)" [suggestions]="selectCategory" (completeMethod)="search($event)" [dropdown]="true"  autoWidth="false" [style]="{'width':'90%', 'margin-left':'22px'}" ></p-autoComplete>
                    <label>Sub Category <span>*</span></label>
                    <!-- <p-dropdown [options]="subCatagories" name="sub_category_id" [(ngModel)]="selectedSubCatagory" autoWidth="false" [style]="{'width':'90%', 'margin-left':'23px'}" ></p-dropdown><br> -->
                    <p-autoComplete [(ngModel)]="sub_category_desc" name="sub_category_id" appendTo="body"  [required]="true" (onSelect)="dispsubCategory($event)" [suggestions]="selectedSubCatagory" (completeMethod)="searchSubCategories($event)" [dropdown]="true" autoWidth="false" [style]="{'width':'90%', 'margin-left':'22px'}" ></p-autoComplete>
                    <label>Status </label>
                    <p-autoComplete [(ngModel)]="status" name="status_id" [disabled]="true" appendTo="body"  [suggestions]="status1" [readonly]="true" (completeMethod)="searchStatus($event)" [dropdown]="true" [readonly]="true" autoWidth="false" [style]="{'width':'90%', 'margin-left':'22px'}" ></p-autoComplete>
                    <label >Prirority </label>
                    <p-autoComplete [(ngModel)]="intialPriorityValue"  [disabled]="true" value="null" appendTo="body" [readonly]="true"  [suggestions]="priorities" (completeMethod)="searchPriority($event)" [dropdown]="true" [readonly]="true" autoWidth="false" [style]="{'width':'90%', 'margin-left':'22px'}" ></p-autoComplete>
               
                  
                </div>
                <div class="col-12 sm:col-12 md:col-6 lg:col-6">
                    <label> Subject</label>
                    <input type="text" name="subject" ngModel class="form-control"  maxlength="120">
                    <div *ngIf="ticketvalues.controls['subject']?.['touched'] && ticketvalues.controls['subject']?.['errors']" 
                    class="invalid">
                   <div *ngIf="ticketvalues.controls['subject']?.['errors']?.['maxlength']">
                       Subject is 120 characters only.
                   </div>
                   </div>
                    <label>Description</label>
                    <input type="text" name="description" ngModel class="form-control" maxlength="200">
                    <div *ngIf="ticketvalues.controls['description']?.['touched'] && ticketvalues.controls['description']?.['errors']" 
                     class="invalid">
                        <div *ngIf="ticketvalues.controls['description']?.['errors']?.['maxlength']">
                            Description is 200 characters only.
                        </div>
                    </div>
                    <label >Created Source</label>
                    <input type="text"  [(ngModel)]="loggedInUserName" readonly name="createdSource" ngModel class="form-control disabled" maxlength="120" >
                    <div *ngIf="ticketvalues.controls['createdSource']?.['touched'] && ticketvalues.controls['createdSource']?.['errors']" 
                    class="invalid">
                       <div *ngIf="ticketvalues.controls['createdSource']?.['errors']?.['maxlength']">
                          Created Source is 120 characters only.
                       </div>
                   </div>
                    <label >Created Source Type</label>
                    <input type="text"  [(ngModel)]="createdSource" name="createdSourceType" readonly ngModel class="form-control disabled" maxlength="120">
                    <div *ngIf="ticketvalues.controls['createdSourceType']?.['touched'] && ticketvalues.controls['createdSourceType']?.['errors']" 
                    class="invalid">
                       <div *ngIf="ticketvalues.controls['createdSourceType']?.['errors']?.['maxlength']">
                        created Source Type is 120 characters only.
                       </div>
                   </div>
                </div>
            </div>
            <hr>
            <div class="buttons">
                <button class="btn btn-warning" (click)="closeTicketForm()">Cancel</button>
                <button class="btn btn-primary">Save</button>

            </div>
        </form>
    </div>
 

</div>



<div class="header" *ngIf="ticketTable">
    <h2>Add New Ticket</h2>
</div>

<div class="ptable1" *ngIf="ticketTable">
    <div class="addTicketButton" *ngIf="ticketTable">
        <button class="btn btn-primary" (click)="showDialog()" >Add Ticket</button>
    </div>

    <p-table  [value]="allTickets"  [paginator]=true [rows]="6" styleClass="p-datatable-striped" [resizableColumns]="true" columnResizeMode="expand" [tableStyle]="{'min-width': '50rem'}"  >
        <ng-template pTemplate="header" class="t-head thead-primary">
            <tr>
                <th>User Id <p-sortIcon field="user_id"  pSortableColumn="user_id"></p-sortIcon></th>
                <th>Ticket Id <p-sortIcon field="ticket_id"  pSortableColumn="ticket_id"></p-sortIcon></th>
                <!-- <th>Assignee Id <p-sortIcon field="assignee"  pSortableColumn="assignee"></p-sortIcon></th> -->
                <th>Catagory <p-sortIcon field="category_desc"  pSortableColumn="category_desc"></p-sortIcon></th>
                <th>Sub_Category <p-sortIcon field="sub_category_desc"  pSortableColumn="sub_category_desc"></p-sortIcon></th>
                <th>Description <p-sortIcon field="description"  pSortableColumn="description"></p-sortIcon></th>
                <th>Priority <p-sortIcon field="priority"  pSortableColumn="priority"></p-sortIcon></th>
                <th>Status <p-sortIcon field="status"  pSortableColumn="status"></p-sortIcon></th>
                <th>Reporter_Id <p-sortIcon field="reporter_id"  pSortableColumn="reporter_id"></p-sortIcon></th>
                <th>Subject <p-sortIcon field="subject"  pSortableColumn="subject"></p-sortIcon></th>
                <th>Url Link <p-sortIcon field="url"  pSortableColumn="url"></p-sortIcon></th>
                <th>Created Source <p-sortIcon field="createdSource"  pSortableColumn="url"></p-sortIcon></th>
                <th>Created Source Type <p-sortIcon field="createdSourceType"  pSortableColumn="url"></p-sortIcon></th>
                <th>Modified Source <p-sortIcon field="modifiedSource"  pSortableColumn="url"></p-sortIcon></th>
                <th>Modified Source Type <p-sortIcon field="modifiedSourceType"  pSortableColumn="url"></p-sortIcon></th>
                <th>Create Datetime <p-sortIcon field="create_datetime"  pSortableColumn="create_datetime"></p-sortIcon></th>
                <th>Last Modified Datetime <p-sortIcon field="last_modified_datetime"  pSortableColumn="last_modified_datetime"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item class="t-body tbody-dark">
    
    
        <tr (dblclick)="viewModel(item.ticket_id)">
            <td>{{item.reporter_id}}</td>
            <td>{{item.ticket_id}}</td>
            <!-- <td>{{item.assignee}}</td> -->
            <td>{{item.category_desc}}</td>
            <td>{{item.sub_category_desc}}</td>
            <td>{{item.description}}</td>
            <td>{{item.priority}}</td>
            <td>{{item.status}}</td>
            <td>{{item.reporter_id}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.url}}</td>
            <td>{{item.createdSource}}</td>
            <td>{{item.createdSourceType}}</td>
            <td>{{item.modifiedSource}}</td>
            <td>{{item.modifiedSourceType}}</td>
            <td>{{item.create_datetime | date :" dd/MM/yyyy, h:mm a "}}</td>
            <td>{{item.last_modified_datetime | date :" dd/MM/yyyy, h:mm a "}}</td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="14" style="text-align: center;">No data Found</td>
            </tr>
        </ng-template>
    </p-table>
</div>













