<!-- <div class="conatainer" >

    <div class="ticket-header">
        <h4> Ticket Details </h4>
    </div>
    <hr>
    <div class="row">
        <form #ticketvalues="ngForm">
            <div class="row">
                <div class="col">
                    <label>Ticket_Id</label>
                    <input type="text" ngModel="{{ticketData.ticket_id}}" name="ticket_id" class="form-control" >
                    <label >User_Id</label>
                    <input type="text" ngModel name="user_id" class="form-control">
                    <label>Category</label>
                    <input type="text" name="category_id" ngModel class="form-control">
                    <label>Sub Category</label>
                    <input type="text" name="sub_category_id" ngModel class="form-control">
                    <label>Assignee</label>
                    <input type="text" name="assignee_Id" ngModel class="form-control">
           
                
                </div>
                <div class="col">
                    <label> Subject</label>
                    <input type="text" name="subject" ngModel class="form-control" ngModel="{{ticketData.subject}}">
                    <label>Description</label>
                    <input type="text" name="description" ngModel class="form-control" ngModel="{{ticketData.description}}">
                    <label>Reporter</label>
                    <input type="text" name="reporter" ngModel class="form-control" ngModel="{{ticketData.reporter_id}}">
                    <label>Priority</label>
                    <input type="text" name="Priority" ngMOdel class="form-control" ngModel="{{ticketData.priority}}">
                    <label>Url_Link</label>
                    <input type="text" name="url" ngModel class="form-control" ngModel="{{ticketData.url}}">
                </div>
                <div class="col">
                    <label>status</label>
                    <input type="text" name="status_id" ngModel class="form-control">
                    <label>Created Date</label>
                    <input type="text" name="createdDate" ngModel class="form-control" ngModel="{{ticketData.create_datetime}}">
                    <label>Created Source</label>
                    <input type="text" name="createdsource" ngModel class="form-control">
                    <label>Created Source Type</label>
                    <input type="text" name="createdSourceType" ngModel class="form-control">
                    <label>Modified Date</label>
                    <input type="text" name="modifiedDate" ngModel class="form-control">
                </div>
                <div class="col">
            
                    <label>ModifiedSource</label>
                    <input type="text" name="modifiedSource" ngModel class="form-control">
                    <label>ModifiedSourceType</label>
                    <input type="text" name="modifiedSourceType" ngModel class="form-control">
                </div>
            </div>
            <hr>
            <div class="buttons">
                <button class="btn btn-warning" >Cancel</button>
                <button class="btn btn-primary">Save</button>

            </div>
        </form>
    </div>

</div> -->

<div class="header" >
    <h2>Ticket Details</h2>
</div>

<div class="conatainer">
    <h2>Ticket Details</h2>

 
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6 field">
            <div>
                <label class="col-6">Ticket_Id :</label>
                <label class="col-6">{{ticketData.ticket_id}}</label>
            </div>
            <div>
                <label class="col-6">User_Id :</label>
                <label class="col-6">{{ticketData.user_id}}</label>
            </div>
            <div>
                <label class="col-6">Category :</label>
                <label class="col-6">{{ticketData.category_desc}}</label>
            </div>
            <div>
                <label class="col-6">Sub Category :</label>
                <label class="col-6">{{ticketData.sub_category_desc}}</label>
            </div>
            <div>
                <label class="col-6">Assignee :</label>
                <label class="col-6">{{ticketData.assignee}}</label>
            </div>
            <div>
                <label class="col-6">Subject</label>
                <label class="col-6">{{ticketData.subject}}</label>
            </div>
            <div>
                <label class="col-6">Description :</label>
                <label class="col-6">{{ticketData.description}}</label>
            </div>
            <div>
                <label class="col-6">Reporter</label>
                <label class="col-6">{{ticketData.reporter_id}}</label>
            </div>
            <div>
                <label class="col-6">Priority :</label>
                <label class="col-6">{{ticketData.priority}}</label>
            </div>

        </div>
        <div class="col-12 md:col-12 lg:col-6 field">
           
            <div>
                <label class="col-6">Url_Link :</label>
                <label class="col-6">{{ticketData.url}}</label>
            </div>
            <div>
                <label class="col-6">Status :</label>
                <label class="col-6">{{ticketData.status}}</label>
            </div>
            <div>
                <label class="col-6">Created Date :</label>
                <label class="col-6">{{ticketData.create_datetime}}</label>
            </div>
            <div>
                <label class="col-6">Created Source :</label>
                <label class="col-6">{{ticketData.createdSource}}</label>
            </div>
            <div>
                <label class="col-6">Created Source Type :</label>
                <label class="col-6">{{ticketData.createdSourceType}}</label>
            </div>
            <div>
                <label class="col-6">Modified Date :</label>
                <label class="col-6">{{ticketData.last_modified_datetime}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSource :</label>
                <label class="col-6">{{ticketData.modifiedSource}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSourceType : :</label>
                <label class="col-6">{{ticketData.modifiedSourceType}}</label>
            </div>
        </div>
        <button type="button" class="btn btn-warning" (click)="closeViewMode()">Back</button>

    </div>
    <!-- <table>
        <tr>
            <th>Ticket_Id :</th>
            <td>{{ticketData.ticket_id}}</td>
            <th>User_Id :</th>
            <td>{{ticketData.user_id}}</td>
        </tr>
        <tr>
            <th>Category :</th>
            <td>{{ticketData.category_desc}}</td>
            <th>Sub Category :</th>
            <td>{{ticketData.sub_category_desc}}</td>
        </tr>
        <tr>
            <th>Assignee :</th>
            <td>{{ticketData.assignee}}</td>
            <th>Subject</th>
            <td>{{ticketData.subject}}</td>
        </tr>
        <tr>
            <th>Description :</th>
            <td>{{ticketData.description}}</td>
            <th>Reporter</th>
            <td>{{ticketData.reporter_id}}</td>
        </tr>
        <tr>
            <th>Priority :</th>
            <td>{{ticketData.priority}}</td>
            <th>Url_Link :</th>
            <td>{{ticketData.url}}</td>
        </tr>
        <tr>
            <th>Status :</th>
            <td>{{ticketData.status}}</td>
            <th>Created Date :</th>
            <td>{{ticketData.create_datetime}}</td>
        </tr>
        <tr>
            <th>Created Source :</th>
            <td>{{ticketData.createdSource}}</td>
            <th>Created Source Type :</th>
            <td>{{ticketData.createdSourceType}}</td>
        </tr>
        <tr>
            <th>Modified Date :</th>
            <td>{{ticketData.last_modified_datetime}}</td>
            <th>ModifiedSource :</th>
            <td>{{ticketData.modifiedSource}}</td>
        </tr>
        <tr>
            <th>ModifiedSourceType :</th>
            <td>{{ticketData.modifiedSourceType}}</td>
        </tr>
        
    </table> -->
    <div class="buttons">
        <button clas="btn btn-warning" (click)="closeViewMode()">Back</button>
    </div>
    
</div>





