<!-- <div class="conatainer" >

    <div class="ticket-header">
        <h4> Ticket Details </h4>
    </div>
    <hr>
    <div class="row">
        <form #ticketvalues="ngForm">
            <div class="row">
                <div class="col">
                    <label>Ticket_Id</label>
                    <input type="text" ngModel="{{ticketData.ticket_id}}" name="ticket_id" class="form-control" >
                    <label >User_Id</label>
                    <input type="text" ngModel name="user_id" class="form-control">
                    <label>Category</label>
                    <input type="text" name="category_id" ngModel class="form-control">
                    <label>Sub Category</label>
                    <input type="text" name="sub_category_id" ngModel class="form-control">
                    <label>Assignee</label>
                    <input type="text" name="assignee_Id" ngModel class="form-control">
           
                
                </div>
                <div class="col">
                    <label> Subject</label>
                    <input type="text" name="subject" ngModel class="form-control" ngModel="{{ticketData.subject}}">
                    <label>Description</label>
                    <input type="text" name="description" ngModel class="form-control" ngModel="{{ticketData.description}}">
                    <label>Reporter</label>
                    <input type="text" name="reporter" ngModel class="form-control" ngModel="{{ticketData.reporter_id}}">
                    <label>Priority</label>
                    <input type="text" name="Priority" ngMOdel class="form-control" ngModel="{{ticketData.priority}}">
                    <label>Url_Link</label>
                    <input type="text" name="url" ngModel class="form-control" ngModel="{{ticketData.url}}">
                </div>
                <div class="col">
                    <label>status</label>
                    <input type="text" name="status_id" ngModel class="form-control">
                    <label>Created Date</label>
                    <input type="text" name="createdDate" ngModel class="form-control" ngModel="{{ticketData.create_datetime}}">
                    <label>Created Source</label>
                    <input type="text" name="createdsource" ngModel class="form-control">
                    <label>Created Source Type</label>
                    <input type="text" name="createdSourceType" ngModel class="form-control">
                    <label>Modified Date</label>
                    <input type="text" name="modifiedDate" ngModel class="form-control">
                </div>
                <div class="col">
            
                    <label>ModifiedSource</label>
                    <input type="text" name="modifiedSource" ngModel class="form-control">
                    <label>ModifiedSourceType</label>
                    <input type="text" name="modifiedSourceType" ngModel class="form-control">
                </div>
            </div>
            <hr>
            <div class="buttons">
                <button class="btn btn-warning" >Cancel</button>
                <button class="btn btn-primary">Save</button>

            </div>
        </form>
    </div>

</div> -->

<div class="conatainer">
    <h2>Ticket Details</h2>
    <table>
        <tr>
            <th>Ticket_Id :</th>
            <td>{{ticketData.ticket_id}}</td>
            <th>User_Id :</th>
            <td>{{ticketData.user_id}}</td>
        </tr>
        <tr>
            <th>Category :</th>
            <td>{{ticketData.category_desc}}</td>
            <th>Sub Category :</th>
            <td>{{ticketData.sub_category_desc}}</td>
        </tr>
        <tr>
            <th>Assignee :</th>
            <td>{{ticketData.assignee}}</td>
            <th>Subject</th>
            <td>{{ticketData.subject}}</td>
        </tr>
        <tr>
            <th>Description :</th>
            <td>{{ticketData.description}}</td>
            <th>Reporter</th>
            <td>{{ticketData.reporter_id}}</td>
        </tr>
        <tr>
            <th>Priority :</th>
            <td>{{ticketData.priority}}</td>
            <th>Url_Link :</th>
            <td>{{ticketData.url}}</td>
        </tr>
        <tr>
            <th>Status :</th>
            <td>{{ticketData.status}}</td>
            <th>Created Date :</th>
            <td>{{ticketData.create_datetime}}</td>
        </tr>
        <tr>
            <th>Created Source :</th>
            <td>{{ticketData.createdSource}}</td>
            <th>Created Source Type :</th>
            <td>{{ticketData.createdSourceType}}</td>
        </tr>
        <tr>
            <th>Modified Date :</th>
            <td>{{ticketData.last_modified_datetime}}</td>
            <th>ModifiedSource :</th>
            <td>{{ticketData.modifiedSource}}</td>
        </tr>
        <tr>
            <th>ModifiedSourceType :</th>
            <td>{{ticketData.modifiedSourceType}}</td>
        </tr>
        
    </table>
    <div class="buttons">
        <button clas="btn btn-warning" (click)="closeViewMode()">Back</button>
    </div>
    
</div>





