
.ticket-header h2 {
    padding-top: 20px;
}

.header {
    background-color: rgb(16, 160, 208);
    height: 120px;
    position: relative;
}

.header h3 {
    color: aliceblue;
    margin-left: 23px;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.ticketDetailsBody {
    box-shadow: 2px 2px 2px 2px rgb(234, 237, 238);
    margin-left: 20px;
    width: 97%;
    height: 530px;
    position: absolute;
    top: 150px;
    background-color:white ;
}

.backButton {
    margin-left: 1350px;
    margin-top: 50px;
}

.header h2 {
    color:rgb(234, 237, 238);
    margin-left: 20px;
}

.grid {
    margin-top: 30px;
    margin-left: 30px;
}

@media screen and (max-width: 321px) and (min-width: 200px) {

    .ticketDetailsBody {
        box-shadow: 2px 2px 3px 3px rgb(234, 237, 238);
        margin-left: 0px;
        width: 321px;
        height: 900px;
        position: absolute;
        top: 140px;
        background-color:white ;
    }

    .backButton{
        margin-top: -11px;
        margin-left: 264px;
    }
}

@media screen and (max-width: 376px) and (min-width: 321px) {
    .ticketDetailsBody {
        box-shadow: 2px 2px 3px 3px rgb(234, 237, 238);
        margin-left: 0px;
        width: 370px;
        height: 900px;
        position: absolute;
        top: 140px;
        background-color:white ;
    }

    .backButton{
        margin-top: 30px;
        margin-left: 300px;
    }
}

@media screen and (max-width: 426px) and (min-width: 377px) {
    .ticketDetailsBody {
        box-shadow: 2px 2px 3px 3px rgb(234, 237, 238);
        margin-left: 0px;
        width: 476px;
        height: 900px;
        position: absolute;
        top: 140px;
        background-color:white ;
    }

    .backButton{
        margin-top: 30px;
        margin-left: 370px;
    }
}

@media screen and (max-width: 769px) and (min-width: 426px) {
    .ticketDetailsBody {
        box-shadow: 2px 2px 3px 3px rgb(234, 237, 238);
        margin-left: 0px;
        width: 760px;
        height: 900px;
        position: absolute;
        top: 140px;
        background-color:white ;
    }

    .backButton{
        margin-top: 30px;
        margin-left: 700px;
    }
}

@media screen and (max-width: 1025px) and (min-width:770px) {
    .ticketDetailsBody {
        box-shadow: 2px 2px 3px 3px rgb(234, 237, 238);
        margin-left: 0px;
        width: 1025px;
        height: 560px;
        position: absolute;
        top: 140px;
        background-color:white ;
    }

    .backButton{
        margin-top: 30px;
        margin-left: 930px;
    }
}



