

<div class="header" >
    <h2>Ticket Details</h2>
</div>

<div class="ticketDetailsBody">
    
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-6 field">
            <div>
                <label class="col-6">Ticket_Id :</label>
                <label class="col-6">{{ticketData.ticket_id}}</label>
            </div>
            <div>
                <label class="col-6">User_Id :</label>
                <label class="col-6">{{ticketData.user_id}}</label>
            </div>
            <div>
                <label class="col-6">Category :</label>
                <label class="col-6">{{ticketData.category_desc}}</label>
            </div>
            <div>
                <label class="col-6">Sub Category :</label>
                <label class="col-6">{{ticketData.sub_category_desc}}</label>
            </div>
            <!-- <div>
                <label class="col-6">Assignee :</label>
                <label class="col-6">{{ticketData.assignee}}</label>
            </div> -->
            <div>
                <label class="col-6">Subject</label>
                <label class="col-6">{{ticketData.subject}}</label>
            </div>
            <div>
                <label class="col-6">Description :</label>
                <label class="col-6">{{ticketData.description}}</label>
            </div>
            <div>
                <label class="col-6">Reporter</label>
                <label class="col-6">{{ticketData.reporter_id}}</label>
            </div>
            <div>
                <label class="col-6">Priority :</label>
                <label class="col-6">{{ticketData.priority}}</label>
            </div>

        </div>
        <div class="col-12 md:col-12 lg:col-6 field">
           
            <div>
                <label class="col-6">Url_Link :</label>
                <label class="col-6">{{ticketData.url}}</label>
            </div>
            <div>
                <label class="col-6">Status :</label>
                <label class="col-6">{{ticketData.status}}</label>
            </div>
            <div>
                <label class="col-6">Created Date :</label>
                <label class="col-6">{{ticketData.create_datetime | date :" dd/MM/yyyy, h:mm a "}}</label>
            </div>
            <div>
                <label class="col-6">Created Source :</label>
                <label class="col-6">{{ticketData.createdSource}}</label>
            </div>
            <div>
                <label class="col-6">Created Source Type :</label>
                <label class="col-6">{{ticketData.createdSourceType}}</label>
            </div>
            <div>
                <label class="col-6">Modified Date  :</label>
                <label class="col-6">{{ticketData.last_modified_datetime | date :" dd/MM/yyyy, h:mm a "}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSource :</label>
                <label class="col-6">{{ticketData.modifiedSource}}</label>
            </div>
            <div>
                <label class="col-6">ModifiedSourceType : </label>
                <label class="col-6">{{ticketData.modifiedSourceType}}</label>
            </div>
        </div>
        <button type="button" class="btn btn-warning backButton" (click)="closeViewMode()">Back</button>

    </div>
</div>





